* {
  margin: auto;
}
body {
  background-image: url("./images/background-adare-restaurant.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

header {
  width: 1024px;
  height: 80px;
  text-align: center;
}
main {
  text-align: center;
  width: 1024px;
  color: white;
}
main p{
  width: 500px;
  margin-bottom: 50px;
  margin-top: 40px;
}

footer {
  width: 500px;
  font-size: medium;
  margin: auto;
  background-color: rgb(49, 47, 47);
  padding:10px 10px 10px 10px;
  margin-bottom: 40px;
}
nav {
  width: 600px;
  font-size: medium;
  margin: auto;
  background-color: rgb(49, 47, 47);
  padding:10px 10px 10px 10px;
  margin-bottom: 40px;
  text-align: center;
}
nav ol li{
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
nav ol{
  list-style: none;
  display: flex;

}

.content a{
  color: white;
  text-transform: uppercase;
}
footer p{
  color: white;
  text-align: center;
}